<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark bg-primary" [containerInside]="false">
  <mdb-navbar-brand><a class="navbar-brand" href="#">Playlist</a></mdb-navbar-brand>

  <links>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link waves-light" mdbWavesEffect routerLink="/home">Home</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link waves-light" mdbWavesEffect routerLink="/add-song">Add Song</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link waves-light" mdbWavesEffect routerLink="/artists">Artists</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link waves-light" mdbWavesEffect routerLink="/search">Search</a>
      </li>
    </ul>

<!--    <form class="form-inline waves-light" mdbWavesEffect>-->
<!--      <div class="md-form my-0">-->
<!--        <input class="form-control mr-sm-2" type="text" placeholder="Search">-->
<!--      </div>-->
<!--    </form>-->
  </links>

</mdb-navbar>
