<div class="container mt-4">
  <h1 class="mb-2" >Song Overview</h1>
  <div *ngIf="errors.length > 0">
    <div class="alert alert-danger" role="alert">
      <ul>
        <li *ngFor="let error of errors"> {{error}}</li>
      </ul>
    </div>
  </div>
  <table class="table">
    <thead>
    <tr>
      <th scope="col">Name Song</th>
      <th scope="col">Artist</th>
      <th scope="col">Album</th>
      <th scope="col"><mdb-icon fas icon="cog"></mdb-icon></th>
      <th scope="col"><mdb-icon fas icon="trash"></mdb-icon></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let song of songs" >
      <td >{{song.name}}</td>
      <td>{{song.artist}}</td>
      <td>{{song.album}}</td>
      <td>
        <a href="/edit-song/{{song.uniqueID}}" ><mdb-icon fas icon="cog"></mdb-icon>
        </a>
      </td>
      <td>
        <app-delete-song
          [song]="song"
          (delete)="deleteSong($event)"
          (error)="deleteSongError($event)">
        </app-delete-song></td>
    </tr>
    </tbody>
  </table>
</div>
