<div class="container mt-4">
  <h1 class="mb-2" >Add Song</h1>

  <div *ngIf="errors.length > 0">
    <div class="alert alert-danger" role="alert">
      <ul>
        <li *ngFor="let error of errors"> {{error}}</li>
      </ul>
    </div>
  </div>

  <form [formGroup]="addSongForm" (ngSubmit)="addSong()">
    <div class="md-form">
      <input mdbInput mdbValidate formControlName="name" type="text"
             class="form-control" id="name">
      <label for="name">Song name</label>
      <mdb-error *ngIf="name.invalid && (name.dirty || name.touched)">Name can't be empty!</mdb-error>
      <mdb-success *ngIf="name.valid && (name.dirty || name.touched)"></mdb-success>
    </div>

    <div class="md-form">
      <input mdbInput mdbValidate formControlName="album" type="text"
             class="form-control" id="album">
      <label for="album">Song album</label>
      <mdb-error *ngIf="album.invalid && (album.dirty || album.touched)">Album name can't be empty!
      </mdb-error>
      <mdb-success *ngIf="album.valid && (album.dirty || album.touched)"></mdb-success>
    </div>

    <div class="md-form">
      <input mdbInput mdbValidate formControlName="artist" type="text"
             class="form-control" id="artist">
      <label for="artist">Song artist</label>
      <mdb-error *ngIf="artist.invalid && (artist.dirty || artist.touched)">Artist can't be empty!
      </mdb-error>
      <mdb-success *ngIf="artist.valid && (artist.dirty || artist.touched)"></mdb-success>
    </div>

    <input type="submit" class="btn btn-primary" [disabled]="addSongForm.invalid">
  </form>
</div>
