<div class="container mt-4">
  <h1 class="mb-2" >Artist Overview</h1>
  <table class="table">
    <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Stage name</th>
      <th scope="col">Genre</th>
      <th scope="col">Year of Birth</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let artist of artists" >
      <td >{{artist.name}}</td>
      <td>{{artist.stagename}}</td>
      <td>{{artist.genre}}</td>
      <td>{{artist.birthdate}}</td>
    </tr>
    </tbody>
  </table>
</div>
