<a href="/home#" (click)="frame.show()"><mdb-icon fas icon="trash"></mdb-icon></a>


<div mdbModal #frame="mdbModal" class="modal fade top" id="frameModalTop" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm modal-notify modal-danger" role="document">
    <div class="modal-content text-center">
      <div class="modal-header d-flex justify-content-center">
        <p class="heading">Are you sure you want to delete this song?</p>
      </div>

      <div class="modal-body">
        <mdb-icon fas icon="times" size="4x" class="animated rotateIn"></mdb-icon>
      </div>

      <div class="modal-footer justify-content-center">
        <a  mdbBtn color="danger" outline="true" class="waves-effect" mdbWavesEffect (click)="deleteSong(); frame.hide()">Yes</a>
        <a type="button" mdbBtn color="danger" class="waves-effect" mdbWavesEffect data-dismiss="modal" (click)="frame.hide()">No</a>
      </div>
    </div>
  </div>
</div>
