<div class="container mt-4">
  <h1 class="mb-2" >Search Song</h1>
  <div *ngIf="errors.length > 0">
    <div class="alert alert-danger" role="alert">
      <ul>
        <li *ngFor="let error of errors"> {{error}}</li>
      </ul>
    </div>
  </div>
  <form [formGroup]="searchForm">
    <div class="md-form">
      <input mdbInput mdbValidate formControlName="item" type="text"
             class="form-control" id="searchInput" (keyup)="search()">
      <label for="searchInput">Search</label>
    </div>
  </form>
  <table class="table">
    <thead>
    <tr>
      <th scope="col">Name Song</th>
      <th scope="col">Artist</th>
      <th scope="col">Album</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let song of songs | async" >
      <td >{{song.name}}</td>
      <td>{{song.artist}}</td>
      <td>{{song.album}}</td>
    </tr>
    </tbody>
  </table>
</div>
